body {
	display: block;
	justify-content: center;
	padding: 0; 
	margin: 0;
	color: #fff;
	font-family: Tahoma, sans-serif;
	font-size: 12pt;
	background-color: rgb(19,19,19);
}
input[type="file"] {
    display: none;
}

.contain{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.contain-2{
	display: flex;
	justify-content: center;
	margin: 50px 0 50px 0;
}

.label{
	padding: 10px 50px 10px 50px;
}

.btn-success{
	padding: 10px;
}

.canvas{
	width: 100%;
}