body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.content{
	display: flex;
}

.options{
	align-content: center;
	margin: 200px 0 0 100px;
}

input{
	outline: none;
	padding: 5px;
	border: 2px solid #555;
	width: 60px;
	border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.active-form{
	display: block;
}

.hidden-form{
	display: none;
}

.btn-group{
	margin: 20px 0;
}

.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    shape-rendering: crispedges;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}

#point .btn, #line .btn, #triangle .btn{
	margin: -4px 0 0 10px;
}
.clear, #customRange3{
	margin: 0 0 40px 50px;
	width: 500px;
	border: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}

.matrix{
	margin: 20px;
}

.matrix input{
	border-radius: 0;
	box-sizing: unset;
	margin: 0px;
}

.footer{
	display: flex;
	flex-direction: column;
}